<div class="m-calendar">
    <div class="calendar" node-name="calBody">
        <div class="nav" node-name="change">
            <div class="nav-aside nav-left" node-name="changeNav">
                <div class="double" data-action="change" data-change="lastYear"><i class="arrow-left"></i></div>
                <!-- <div data-action="change" data-change="lastMonth"><i class="arrow-left"></i></div> -->
            </div>
            <div class="nav-center" node-name="nacCenter">
                <span node-name="year"></span><span node-name="month"></span>
            </div>
            <div class="nav-aside nav-right" node-name="changeNav">
                <!-- <div data-action="change" data-change="nextMonth"><i class="arrow-right"></i></div> -->
                <div class="double" data-action="change" data-change="nextYear"><i class="arrow-right"></i></div>
            </div>
        </div>
        <div class="main" node-name="week">
            <div class="m-week">
                <div class="week">
                    <span>日</span><span>一</span><span>二</span><span>三</span><span>四</span><span>五</span><span>六</span>
                </div>
            </div>
            <div class="list" node-name="list"></div>
        </div>
        <div class="main hide" node-name="yearList">
            <div class="list-box" node-name="yearBox"></div>            
        </div>
        <div class="main hide" node-name="monthList">
            <div class="list-box" node-name="monthBox"></div>
        </div>
        <div class="btns">
            <div class="btns-day">
                <span node-name="delInput">清空</span>
                <span node-name="backToday">回到今天</span>
            </div>
            <div class="btns-time hide" node-name="timeBtns">
                <div class="time" node-name="timeBtn" data-time="0">
                    <p><input type="text" node-name="timeNum" data-type="0" value="00"/><b></b></p>
                    <ul node-name="timeList">
                    </ul>
                </div>
                <i>:</i>
                <div class="time" node-name="timeBtn" data-time="1">
                    <p><input type="text" value="00" data-type="1" node-name="timeNum"/><b></b></p>
                    <ul node-name="timeList">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>