<%#通用选项卡%>
<ul class="m-tab-items" id="m-tab-items">
    <li class="item checked" data-action="item" data-key="1">商品配置</li>
    <li class="item" data-action="item" data-key="2">商品配置</li>
    <li class="item" data-action="item" data-key="3">商品配置</li>
    <li class="item" data-action="item" data-key="4">商品配置</li>
    <li class="item" data-action="item" data-key="5">商品配置</li>
    <li class="item" data-action="item" data-key="6">商品配置</li>
    <li class="item" data-action="item" data-key="7">商品配置</li>
</ul>