<%# 此模板仅供复制。初始化该模块时，需要传入该模块的节点，所以需要根据需要在m-select上添加id或者node-name，以及select的name %>
<div class="m-select">
    <i class="icon down" node-name="arrowIcon"></i>
    <div class="selected-item border-box" node-name="selectedItem">--请选择--</div>
    <select class="hide" name="selectName" node-name="realSelect">
    	<option value="">--请选择--</option>
    </select>
</div>