<div class="m-fixed-grid">
    <div class="close" title="关闭" node-name="close">X</div>
    <div class="title" node-name="title"></div>
    <div class="box" node-name="content">
        <div class="table-box" node-name="box"></div>
    </div>
    <div class="move-left" node-name="left"></div>
    <div class="move-right" node-name="right"></div>
    <div class="move-bottom" node-name="bottom"></div>
</div>