<ul class="m-grid-filter mg-right-menu">
    <%if(!show){%>
    <li class="menu-item menu-disabled"><label class="text">固定选项</label></li>
    <li class="menu-item menu-disabled"><label class="text">取消选项</label></li>
    <%}else{%>
    <li node-name="fixed" data-type="fixed" class="menu-item"><label data-type="fixed" class="text">固定选项</label></li>
    <li node-name="fixed" data-type="cancel" class="menu-item"><label data-type="cancel" class="text">取消选项</label></li>
    <%}%>
    <li node-name="item" data-index="0" class="menu-item child">
        <label class="text">自定义列</label>
        <ul class="menu-child hide" node-name="filter">
            <li class="menu-item">
                <div class="all-checked">
                    <label><input type="checkbox" node-name="displayColsChecked"/><i class="checkbox"></i><span>全选</span></label>
                </div>
                <ul class="grid-cols" node-name="displayCols"></ul>
                <div class="but-group">
                    <span class="m-blue-btn" data-type="0" node-name="ok">确定</span>
                    <span class="m-white-btn" node-name="cancel">取消</span>
                </div>
            </li>
        </ul>
    </li>
    <li node-name="item" data-index="1" class="menu-item child">
        <label class="text">自定义列筛选</label>
        <ul class="menu-child hide" node-name="filter">
            <li class="menu-item">
                <div class="all-checked filter">
                    <label><input node-name="colsChecked" type="checkbox"/><i class="checkbox"></i><span>全选</span></label><input node-name="searchInput" type="text" class="search">
                </div>
                <ul class="grid-cols" node-name="gridCols"></ul>
                <div class="but-group">
                    <span class="m-blue-btn" data-type="1" node-name="ok">确定</span>
                    <span class="m-white-btn" node-name="cancel">取消</span>
                </div>
            </li>
        </ul>
    </li>
</ul>