<div class="m-header clear">
    <div class="headLeft">
        <div class="logo-box">
            <a href="javascript:void(0)">
                <img src="/common/images/logo.png" alt="logo"/>
            </a>
        </div>
    </div>
    <div class="headCenter">
        <ul class="nav clear">
            <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-dianyingpiao icon"></i>基础管理</a></li>
            <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-wanju icon"></i>商品</a></li>
            <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-wanju icon"></i>衍生品</a></li>
            <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-shujujifen icon"></i>数据罗盘</a></li>
            <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-jiageguanli icon"></i>定价</a></li>
            <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-yingxiao icon"></i>营销</a></li>
            <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-huiyuan icon"></i>会员</a></li>
            <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-laba icon"></i>订单</a></li>
            <li class="navList">
                <a href="javascript:void(0)"><i class="iconfont icon-gengduo icon"></i>更多</a>
                <ul class="more clear ">
                    <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-laba icon"></i>报表</a></li>
                    <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-neirong icon"></i>内容</a></li>
                    <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-dianshang icon"></i>自有电商</a></li>
                    <li class="navList"><a href="javascript:void(0)"><i class="iconfont icon-zizhuzhongduan icon"></i>自助终端</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="headRight clear">
        <div class="username">HI,YANG</div>
        <div class="opra">
            <i class="iconfont icon-shezhi icon"></i>
            <i class="iconfont icon-xiaoxi icon"></i>
            <i class="iconfont icon-tuichu icon exit"></i>
        </div>

    </div>
</div>

