<div class="m-layer">
    <div class="top">
        <div class="title">title</div>
        <div class="iconfont icon-xiugai"></div>
    </div>
    <div class="content"></div>
    <div class="footer">
        <span class="but">XX</span>
    </div>
</div>