<div class="m-calendar" style="-moz-user-select:none;-webkit-user-select:none;/*webkit浏览器*/-ms-user-select:none;/*IE10*/-khtml-user-select:none;/*早期浏览器*/user-select:none;">
    <div class="calendar" node-name="calBody">
        <div class="nav" node-name="change">
            <div class="nav-aside nav-left hide" node-name="changeNav">
                <div class="double" data-action="change" data-change="lastYear"><i class="arrow-left"></i></div>
                <!-- <div data-action="change" data-change="lastMonth"><i class="arrow-left"></i></div> -->
            </div>
            <div class="nav-center">
                <span node-name="year"></span><span node-name="month"></span>
            </div>
            <div class="nav-aside nav-right hide" node-name="changeNav">
                <!-- <div data-action="change" data-change="nextMonth"><i class="arrow-right"></i></div> -->
                <div class="double" data-action="change" data-change="nextYear"><i class="arrow-right"></i></div>
            </div>
        </div>
        <div class="main hide" node-name="yearList">            
            <div class="list-box" node-name="yearBox"></div>
        </div>
        <div class="main" node-name="monthList">
            <div class="list-box " node-name="monthBox">                
            </div>
        </div>
        <!--<div class="btns">
            
        </div>-->
    </div>
</div>