
<article class="m-newTree-dialog" style="padding: 0 15px 10px;width: 1200px;">
	<section class="m-search-wrap" node-name="searchBox">
		<ul class="search-items" node-name="items">
			<li class="item">
				<span class="m-search-condition">
					<span class="label">影院名称</span><span class="condition-content" style="width: 200px;"><input autocomplete="off" name="cinemaName" node-name="cinemaName" data-validate="nullText=影院名称" type="text"/></span>
				</span>
			</li>
		</ul>
		<div class="search-but" node-name="searchBut">
			<span class="m-more-condition-btn" node-name="prev" style="padding-left: 0">
				<span class="more up" data-type="hide"><span class="icon-more"></span></span>
			</span>
			<span class="m-more-condition-btn" node-name="next" style="padding-left: 0">
				<span class="more" data-type="hide"><span class="icon-more"></span></span>
			</span>
			<span class="m-more-condition-btn hide" node-name="moreBtn">
				<span>更多</span><span class="more" node-name="more" data-type="hide"><span class="icon-more"></span></span>
			</span>
			<span class="m-search-btn" node-name="search">搜索</span>
		</div>
		<div class="filter-page" node-name="count"></div>

	</section>
	<div class="m-dialogBig-form" node-name="filter">
		<ul class="items-box <%if(type == "look" || type == "lookAndEdit"){%>hide<%}%>">
			<li class="item auto <%if(!cinemaGroup){%>hide<%}%>">
				<span class="name">影院组</span>
				<ul class="inputGroup multi-auto" node-name="cinemaGroup">
				</ul>
			</li>
			<li class="item auto <%if(!hallsGroup||!isHalls){%>hide<%}%>">
				<span class="name">影厅类型</span>
				<ul class="inputGroup multi-auto" node-name="hallsType">
				</ul>
			</li>
		</ul>
	</div>
	<section class="m-tree-box" node-name="treeBox" style="height: 400px;"></section>
	<section class="mg-cardType-card">
		<ul node-name="cardArea"></ul>
		<div node-name="curPage"></div>
	</section>
</article>