<div class="m-grid-page" node-name="gridPage">
    <span class="text">每页显示</span>
    <div class="select-group">
        <i class="icon"></i>
        <input type="text" value="<%=pageSize%>" node-name="pageSize" readonly="readonly" class="select"/>
        <ul class="items up" node-name="select">
            <%pageList.forEach(function(item){%>
            <li data-action="select"><%=item%></li>
            <%})%>
        </ul>
    </div>
    <a href="javascript:void(0)" class="first" node-name="first"><i></i></a>
    <a href="javascript:void(0)" class="prev" node-name="prev"><i></i></a>
    <span class="total" node-name="total">1&nbsp;/&nbsp;1</span>
    <a href="javascript:void(0)" class="next" node-name="next"><i></i></a>
    <a href="javascript:void(0)" class="last" node-name="last"><i></i></a>
    <div class="page">
        第<input type="text" value="<%=curPage%>" node-name="page"/>页
    </div>
    <a href="javascript:void(0)" class="goTo" node-name="btn"><i></i>跳转</a>
    <span class="total-text" node-name="text">当前0到0条，总共0条</span>
    <a href="javascript:void(0)" class="change hide">调整列</a>
</div>