<%#
重要说明：所有图标按钮，引用方式
<span class="m-图标名称-btn">
	<span class="icon"></span><span>名称</span>
</span>
只有有hover,select为后缀的图标，才可以引用
%>
<%# 搜索区域 %>
<%# mlt+x = "margin-left: xpx" flt = "float" %>
<div class="m-search-box">
	<div class="search-box">
		<span class="m-search-condition mlt10 flt">
		</span>
		<span class="m-more-condition-btn mlt10 flt">
            <span>更多</span><span class="more" node-name="more" data-type="hide"><span class="icon-more"></span></span>
        </span>
		<span class="m-search-btn mlt20">搜索</span>
	</div>
	<div class="search-more" node-name="searchMore">
		<span class="m-search-condition mlt10">
		</span>
	</div>
</div>

<%# 下拉框 %>
<span class="m-search-condition">
	<span class="label">商品编码</span><span class="m-select condition-content"><i class="icon down" node-name="arrowIcon"></i><span class="selected-item border-box" node-name="selectedItem">--请选择--</span><select class="hide" name="selectName" node-name="realSelect"><option value="">--请选择--</option></select></span>
</span>


<%# 输入框 %>
<span class="m-search-condition">
	<span class="label">商品编码</span><span class="condition-content"><input type="text" /></span>
</span>

<%# 日历框 %>
<span class="m-search-condition">
	<span class="label">商品日期</span><span class="condition-content"><input readonly="readonly" node-name="calendar" type="text" /><i class="icon-date"></i></span>
</span>

<%# 日历区间 %>
<span class="m-search-condition">
	<span class="condition-container">
		<span class="label">商品日期</span><span class="condition-content">
		    <input readonly="readonly" type="text" name="startTime" node-name="calendar"/>
		    <i class="icon-date"></i>
		</span>
	</span><span>到</span><span class="condition-container">
		<span class="label">商品日期</span><span class="condition-content">
		    <input readonly="readonly" type="text" name="endTime" node-name="calendar"/>
		    <i class="icon-date"></i>
		</span>
	</span>
</span>

<%# 重置按钮 %>
<span class="m-reset-btn">重置</span>

<%# 搜索按钮 %>
<span class="m-search-btn">搜索</span>

<%# 更多按钮 %>
<span class="m-more-condition-btn">
	<span>更多</span><span class="more"><span class="icon-more"></span></span>
</span>

<%# 普通按钮 %>
<span class="m-white-bg-button">
	普通
</span>

<%# 修改按钮 %>
<span class="m-edit-btn">
	<span class="icon"></span><span>修改</span>
</span>

<%# 上架按钮 %>
<span class="m-up-arrow-btn">
	<span class="icon"></span><span>上架</span>
</span>

<%# 下架按钮 %>
<span class="m-down-arrow-btn">
	<span class="icon"></span><span>下架</span>
</span>

<%# 删除按钮 %>
<span class="m-delete-btn">
	<span class="icon"></span><span>删除</span>
</span>

<%# 添加按钮 %>
<span class="m-add-btn">
	<span class="icon"></span><span>添加</span>
</span>

<%# 导出按钮 %>
<span class="m-export-btn">
	<span class="icon"></span><span>导出</span>
</span>

<%# 查看明细按钮 %>
<span class="m-view-details-btn">
	<span class="icon"></span><span>查看明细</span>
</span>

<%# 审核按钮 %>
<span class="m-check-btn">
	<span class="icon"></span><span>审核</span>
</span>

<%# 取消审核按钮 %>
<span class="m-cancel-check-btn">
	<span class="icon"></span><span>取消审核</span>
</span>