<article style="padding: 0 15px 10px;width: 800px;">
	<section class="m-search-wrap" node-name="searchBox">
		<ul class="search-items" node-name="items">
			<li class="item">
				<span class="m-search-condition">
					<span class="label">城市</span><span class="condition-content" style="width: 200px;"><input autocomplete="off" name="city" node-name="city" data-validate="nullText=城市" type="text"/></span>
				</span>
			</li>
			<li class="item">
				<span class="m-search-condition">
					<span class="label">影院名称</span><span class="condition-content" style="width: 200px;"><input autocomplete="off" name="cinemaName" node-name="cinemaName" data-validate="nullText=影院名称" type="text"/></span>
				</span>
			</li>
		</ul>
		<div class="search-but" node-name="searchBut">
			<span class="m-more-condition-btn hide" node-name="moreBtn">
				<span>更多</span><span class="more" node-name="more" data-type="hide"><span class="icon-more"></span></span>
			</span>
			<span class="m-search-btn" node-name="search">搜索</span>
		</div>
	</section>
	<section class="m-tree-box" node-name="treeBox" style="height: 340px;"></section>
</article>