<div id="m-sidebar" class="m-sidebar">
    <ul class="menu">
        <li class="menu-list">
            <a href="javascript:void(0)" class="item1"><span class="add">+</span>机构管理</a>
        </li>
        <li class="menu-list">
            <a href="javascript:void(0)" class="item1"><span class="add">+</span>交易记录</a>
        </li>
        <li class="menu-list">
            <a href="javascript:void(0)" class="item1"><span class="add">+</span>报表管理</a>
            <ul class="sub-menu-list">
                <li>
                    <a href="javascript:void(0)" class="item2"><span class="add">+</span>运营类报表</a>
                    <ul>
                        <li class="sub2-menu-list"><a href="javascript:void(0)" class="item3">入园消费统计报表</a></li>
                        <li class="sub2-menu-list"><a href="javascript:void(0)" class="item3">门票销售统计报表</a></li>
                        <li class="sub2-menu-list"><a href="javascript:void(0)" class="item3">网上销售统计报表</a></li>
                        <li class="sub2-menu-list"><a href="javascript:void(0)" class="item3">退票统计报表(新)</a></li>
                        <li class="sub2-menu-list"><a href="javascript:void(0)" class="item3">退票统计报表</a></li>
                    </ul>
                </li>
                <li>
                    <a class="item2" href="javascript:void(0)"><span class="add">+</span>卖品统计报表</a>
                </li>
                <li>
                    <a class="item2" href="javascript:void(0)"><span class="add">+</span>消费统计报表</a>
                </li>
            </ul>
        </li>
        <li class="menu-list"><a class="item1" href="javascript:void(0)"><span class="add">+</span>设置</a></li>
    </ul>
</div>