<div class="m-bottom-scroll hide" node-name="bottomSimScroll">
    <div class="scroll-bg" node-name="scrollBottomBg"><div node-name="bottomScrollTool" class="scroll-tool"></div></div>
</div>
<div class="m-right-scroll hide" node-name="rightSimScroll">
    <div class="scroll-bg" node-name="scrollRightBg"><div node-name="rightScrollTool" class="scroll-tool"></div></div>
</div>