<div class="m-time-scope">
    <span class="label"><%= label %></span>
    <span class="navs label" node-name="navs">
        <%data.forEach(function(nav, i){%>
            <span class="nav-item <%if(i == 0){%> active <%}%>" node-name="navItem" data-action="nav" data-query="v=<%= nav.val %>"><%= nav.text %></span>
        <%})%>
    </span>
    <span class="label">
        <span class="custom-btn" node-name="navItem" data-action="nav" data-query="v=-1">自定义</span>
        <span node-name="customBox">
            <span class="input-wrap">
                <input ref="input" name="start" node-name="start" type="text" @blur="blurHandler"/>
                <span class="suffix">天</span>
            </span>
            <span class="division">至</span>
            <span class="input-wrap">
                <input ref="input" name="end" node-name="end" type="text" @blur="blurHandler"/>
                <span class="suffix">天</span>
            </span>
        </span> 
    </span>
</div>
