<!-- 树形结构模板，目前项目中有两种样式的树形结构我只写了这一种，另外一种到时也弄成个公共的模板吧，新树形结构只需要修改自定义内容 -->
<div class="m-tree" node-name="mTree">
    <ul class="tree-root">
        <%var render = function(data, col) { %>
            <% for(var i = 0, len = data.length;i < len;i += 1){%>
                <% if(i === 0){ %>
                    <% if(!data[i][col.childColumnName]) {%>
                        <ul class="leaf-ul">
                    <% }else{ %>
                        <ul>
                <% }} %>
                <% if(data[i][col.childColumnName]){ %>
                    <li class="tree-item tree-node-item">
                        <div class="item-wrap" node-name="itemWrap" data-code="<%=data[i][col.codeColumnName]%>">
                            <!-- beging 此为有子节点的树节点中的内容可以自己定义内容 -->
                            <!-- 如果某个标签点击的时候有折叠的效果则给该标签添加operate-type="fold"属性 -->
                            <i class="icon-unfold" operate-type="fold"></i>
                            <i class="icon-unfolder icons"></i>
                            <!-- 如果某个标签点击的时候是选中的意思则给该标签添加operate-type="select"属性 -->
                            <input type="checkbox" operate-type="select" />
                            <span class="item-text"><%=data[i][col.textColumnName]%></span>
                            <!-- end -->
                        </div>
                    <% render(data[i][col.childColumnName], col) %>
                <% }else{ %>
                    <li class="tree-item leaf-node-item">
                        <div class="item-wrap" node-name="itemWrap" data-code="<%=data[i][col.codeColumnName]%>">
                            <!-- 此为叶子节点中的内容可以自己定义内容 -->
                            <input type="checkbox" operate-type="select" />
                            <span class="item-text"><%=data[i][col.textColumnName]%></span>
                            <!-- end -->
                        </div>
                    </li>
                <% } %>
                <% if(i === len -1){%>
                    </ul>
                <% } %>
            <% } %>
        <% }; %>
        <% (function(d, column) { %>
        <%    var map = column || {}; %>
        <%    map.codeColumnName = map.codeColumnName || 'code';map.textColumnName = map.textColumnName|| 'text'; %>
        <%    map.childColumnName = map.childColumnName || 'children'; %>
        <%    render(d, map); %>
        <%})(datasets, columnConf)%>
    </ul>
</div>