<div class='m-feedback' node-name="detailBox" style='width: 500px'>
    <ul class='tel-msg'>
        <li><span class='text'>兜有电影客服电话：</span> 0755-82888020</li>
        <li><span class='text'>兜有电影客服QQ：</span> 4008922014</li>
        <li><span class='text'>客服工作时间：</span> 09:00-22:00</li>
    </ul>
    <p class='line'></p>
    <p>扫码加小兜微信（taijiu580）寻求帮助</p>
    <div class='vcode-img'>
        <img src="/common/images/dy_vcode.png" alt='兜有电影二维码'/>   
    </div>
<div>