<main class="m-dialogBig-form"  style="width: 1100px; height: 640px; padding: 20px;">
  <!-- <ul id="m-msg" class="msg-items" node-name="msgList"></ul>
  <div node-name="pageBar"></div> -->
  <section class="m-grid" node-name="grid"></section>
</main>