<section class="m-grid" id="m-grid">
    <div class="grid-title">
        <table class="table">
            <tr>
                <td><div class="text">商品编号</div><div class="move">&nbsp;</div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
                <td><div class="text">商品编号</div><div class="move"></div></td>
            </tr>
        </table>
    </div>
    <div class="grid-cont">
        <table class="table">
            <tr>
                <td><div class="text"><input class="u-input"/></div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
                <td><div class="text">2222</div></td>
            </tr>
            <tr>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
            </tr>
            <tr>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
            </tr>
            <tr>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
            </tr>
            <tr>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
            </tr>
            <tr>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
            </tr>
            <tr>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
            </tr>
            <tr>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
            </tr>
            <tr>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
            </tr>
            <tr>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
                <td>2222</td>
            </tr>
        </table>
    </div>
    <div class="grid-page">

    </div>
</section>