<div class="m-dialog-common">
    <div node-name="header" class="header">
        <h3 node-name="title"></h3>
        <a href="javascript:void(0);" node-name="close" class="close" title="关闭"></a>
    </div>
    <div node-name="box" class="box"></div>
    <div node-name="footer" class="footer"><!-- 防止按钮中间有空格，直接头尾相连得了 -->
        <a href="javascript:void(0)" class="m-blue-bg-button" data-button="ok">确定</a><a href="javascript:void(0)" class="m-white-bg-button" data-button="cancel">取消</a>
    </div>
</div>