<div class="m-dialog-alert">
    <div class="main">
        <span node-name="icon" class="<%= icon == 'suc' ? 'icon-suc' : 'icon-err' %>"></span>
        <span node-name="text"><%-text%></span>
    </div>
</div>